{%- assign page_paths = site.header_pages | default: default_paths -%}
<header>
  <div class="logo-window">
    <a class="logo" style="white-space: break-spaces !important; line-height: 1;" href="/">o-v.cc</a>
  </div>
  <div class="menu">
    <ul>
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
        <li><a href="{{ my_page.url | relative_url }}"><img class="menu-icon" src="/upload/{{ my_page.icon }}.png">{{ my_page.title | escape }}</a></li>
        {%- endif -%}
      {%- endfor -%}
      {% for category in site.categories %}
        <li><a href="/{{ category[0] }}"><img class="menu-icon" src="/upload/{{ category[0] }}.png">{{ category[0] }}</a></li>
      {% endfor %}
      <div class="right">
        <a href="https://twitch.tv/overgd22"><img class="menu-icon" src="/upload/twitch.png"></a>
        <span class="time">
          <span class="hour">03</span>
          <span class="colon">:</span>
          <span class="minute">22</span>
        </span>
      </div>
    </ul>
  </div>
</header>
