/**
 * Hacker theme variables
 */

:root {
  --base-color: 	#fff;
  --border: dashed 1px rgba(10,189,198, 0.9);
  --selection-background: rgba(138, 46, 172, 0.99);
  --selection-text: 	#ecd654;
  --background-color: #008080;
  --text-color: #000;
  --placeholder-color: var(--base-color);
  --link-color: var(--base-color);
  --code-color-1: #aaaaaa;
  --code-color-2: #ffffcc;
  --code-color-3: #F00000;
  --code-color-4: #F0A0A0;
  --code-color-5: #b38aff;
  --code-color-6: #5ba711;
  --code-color-7: #e4e477;
  --code-color-8: #000080;
  --code-color-9: #05ca05;
  --code-color-10: #888888;
  --code-color-11: #555555;
  --code-color-12: #800080;
  --code-color-13: #00d4d4;
  --code-color-14: #00c1c1;
  --code-color-15: #ed9d13;
  --code-color-16: #1e90ff;
  --code-color-17: #800000;
  --code-color-18: #bbbbbb;
}
header {
  display: flex;
}
header .logo-window {
  display: flex;
  box-shadow: inset -1px -1px #666666, 1px 1px 1px black, inset 2px 2px white;
  background: silver;
  margin: 0 14%;
  width: 100%;
}
header .logo-window:hover {
  text-decoration: none;
  color: var(--text-color);
  background-color: silver;
  box-shadow: inset 1px 1px black, inset -2px -2px white, -1px -1px #666666;
}
header .logo-window .logo {
  color: var(--text-color);
  letter-spacing: .1em;
  font-size: 1.2em;
  font-weight: bolder;
  width: 100%;
}
header .logo-window .logo:hover {
  text-decoration: none;
  background-color: transparent;
}
header .logo-window .logo img {
  height: 44px;
  vertical-align: middle;
}

.container {
  max-width: none;
  width: auto;
}
main {
  border: none;
  padding: 0 14%;
}
.window {
  border: none;
  box-shadow: inset -1px -1px #666666, 1px 1px 1px black, inset 2px 2px white;
  background: silver;
  padding-top: 1px;
}
.window .title {
  color: #fff;
  background: #000080;
  margin: 2px 3px;
  padding: 2px 2px 2px 3px;
  display: flex;
  font-weight: bold;
}
.window .title .icon {
  width: 18px;
  height: 18px;
  padding: 2px;
}
.window .window-container {
  display: grid;
  padding: 16px 24px 24px 24px;
  gap: 12px;
}
.window .window-container .welcome{
  font-size: 1.8em;
  grid-row: 1;
  grid-column: 1/4;
}
.window .window-container .content {
  box-shadow: inset 1px 1px black, inset -2px -2px white, -1px -1px #666666;
  padding: 12px 24px;
  grid-row: 2;
  grid-column: 1/3;
  background: #ffffc9;
}
.window .window-container .categories {
  grid-row: 2;
  grid-column: 3/4;
  display: grid;
}
.window .window-container .categories a {
  color: var(--text-color);
  background-color: silver;
  box-shadow: inset -1px -1px #666666, 1px 1px 1px black, inset 2px 2px white;
  padding: 4px;
  padding-left: 6px;
  padding-right: 6px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 6px;
}
.window .window-container .categories a:hover {
  color: var(--text-color);
  background-color: silver;
  box-shadow: inset 1px 1px black, inset -2px -2px white, -1px -1px #666666;
}
.menu {
  margin: 16px 0 0 0;
  padding: 6px 2px;
  padding-bottom: 7px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: silver;
  border-top: 2px outset #fff;
  z-index: 228;
}
.menu ul {
  text-align: left;
}
.menu ul li {
  margin: 0;
}
.menu ul li a {
  box-shadow: inset -1px -1px #666666, 1px 1px 1px black, inset 2px 2px white;
  padding: 4px;
  padding-left: 6px;
  padding-right: 6px;
  font-weight: bold;
}
.menu ul li a:hover {
  text-decoration: none;
  color: var(--text-color);
  background-color: silver;
  box-shadow: inset 1px 1px black, inset -2px -2px white, -1px -1px #666666;
}
.menu ul li a img {
  height: 22px;
  vertical-align: bottom  ;
  margin-right: 2px;
}
.menu ul .right {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 2px;
  margin-right: 6px;
  box-shadow: inset -2px -2px white, inset 2px 2px #888888;
  padding: 4px 6px;
  height: 24px;
  background: silver;
}
.menu ul .right a {
  display: inline-flex;
  vertical-align: bottom;
}
.menu ul .right a:hover {
  background-color: silver;
}
.menu ul .right img {
  width: 24px;
}
.menu ul .right .time {
  display: inline-flex;
  vertical-align: bottom;
  padding: 0px 4px;
}

@media ( max-width: 767px ) {
  header {
    margin: 0;
  }
  header .logo-window {
    margin: 0;
  }
  main {
    padding: 0;
  }
}